[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
urllib3 = "*"
fastapi = "*"
uvicorn = "*"
selectolax = "*"
speechrecognition = "*"
pydantic-settings = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.10"
